<p>
  newone works!
  <br>
  Hello {{ message}}
  <br>
  {{beatles}}
  <br>

</p>
<h1 *ngFor = "let item of items; let i=index " >{{i}} {{item}}</h1>
<h1 *ngFor = "let item of items" > {{item}}</h1>

<ul>
  <li
    *ngFor = "let item of items" > {{item}}>
  </li>

</ul>
<h2>-------------------------------</h2>
<h3 *ngFor = "let item of items; let first = first; let last = last; let odd = odd"[ngClass]="{first:first, last:last, odd:odd}"   > {{item}} </h3>
<h2>-------------------------------</h2>
<div *ngIf="isok; else bad">
   Hello world
</div>
<ng-template  #bad>
  Goodbye World!
</ng-template>
<h2>-------------------------------</h2>
<h2>-------------------------------</h2>

<button (click)="onClick($event)">Click me!</button>
<br>
<button *ngIf="seen" (click)="reverse()">Seen</button>
<button *ngIf="!seen" (click)="reverse()">Hidden</button>

<p *ngIf="seen">

iuhhtewssfhjkllu5555555555555555

</p>

